snippet rk "Round Parentheses" i
($1)$0
endsnippet

snippet sk "Square Brackets" i
[$1]$0
endsnippet

snippet ck "Curly Braces" i
{$1}$0
endsnippet

snippet ps "Plus Sign" i
+
endsnippet

snippet ms "Minus Sign" i
-
endsnippet

snippet pss "Double Plus Sign" i
++
endsnippet

snippet mss "Double Minus Sign" i
--
endsnippet

snippet scanf "scanf Function" i
scanf("${1:%d}", $2);$0
endsnippet
